body{ background-color: #F8E9DD;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;

padding: 50px 100px;
margin: auto;
width: 60%;
line-height: 1.5;
}

.regText{
    font-weight: 400;
}

.boldText{
    font-weight: 700;
    font-style: bold;
}

.grey{
    color: #93867B;
}

.darkerGrey{
    color: #382314;
}

.general{
    background-color: #F8E9DD;
   
    
}

.topContainer{
    background-color: #FF6666;
    color: #F8E9DD;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bottomContainer{
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

/**
 .rght{
justify: right;
} 

coming back here to align the 2.4% back to the right

**/

.secondContainer2{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 0.5;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


#venn{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

#circle1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    margin-right: -20px; 
    z-index: 2;
}

#circle2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000000;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    z-index: 1;
}